<section class="footer">
    <footer>
        <div align="right">
             <link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css">
            <!-- 访问统计 -->
            <span id="busuanzi_container_site_pv">
              本站总访问量
              <span id="busuanzi_value_site_pv"></span>次
            </span>
        </div>
        <div class = "footer_div">
        <nav class="cover-navigation navigation--social">
          <ul class="navigation">

          {% if site.social.github %}
          <!-- Github -->
          <li class="navigation__item_social">
            <a href="#" title="前往@{{site.social.github}}的Github" target="_blank">
              <div class="footer-social-icon" style="background:url(/images/github.png);"></div>
            </a>
          </li>
          {% endif %}


          {% if site.social.mail %}
          <!-- Email -->
          <li class="navigation__item_social">
            <a href="mailto:{{site.social.mail}}" title="给我发邮件">
              <div class="footer-social-icon" style="background:url(/images/email.png);"></div>
            </a>
          </li>
          {% endif %}

          <!-- RSS -->
          <li class="navigation__item_social">
            <a href="/feed.xml" rel="author" title="RSS订阅本站" target="_blank">
              <div class="footer-social-icon" style="background:url(/images/rss.png);"></div>
              <span class="label">RSS</span>
            </a>
          </li>

          </ul>
        </nav>

        </div>

        <div class = "footer_div">
           <p class="copyright text-muted" style="text-align:center">
            Copyright &copy; <a href="/">{{ site.title }}</a> {{ site.time | date: '%Y' }} All Rights Reserved |Theme by <a href="https://github.com/leopardpan">leopard</a>
           </p>

        <div>
    </footer>
</section>
